<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Emojis 4 devs</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="templates/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="templates/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="templates/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">official documentation</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">end points</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://github.com/andela-fokosun/Checkpoint3/blob/master/README.md">fork project</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://github.com/andela-fokosun/Checkpoint3/wiki/Contributing">Contribute</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://github.com/andela-fokosun/Checkpoint3">issues</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="templates/img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Emojis for devs</span>
                        <hr class="star-light">
                        <span class="skills">Built from ground up with
                            <a href="http://www.slimframework.com/" style="color:white;">Slim Framework</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>End points</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h5>
                        So, like every good API out there, you need to register first
                        to have access to protected routes.
                    </h5>
                    <br><br>
                    <div class="container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">Endpoint</th>
                                    <th class="text-center">Method</th>
                                    <th class="text-center">Params</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>/register</td>
                                    <td>GET</td>
                                    <td>username, password</td>
                                </tr>
                                <tr>
                                    <td>/auth/login</td>
                                    <td>POST</td>
                                    <td>username, password</td>
                                </tr>
                                <tr>
                                    <td>/auth/logout</td>
                                    <td>GET</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2>The juice!</h2>
                                <hr class="star-primary">
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">Endpoint</th>
                                    <th class="text-center">Method</th>
                                    <th class="text-center">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>/emojis</td>
                                    <td>GET</td>
                                    <td>List all the created emojis</td>
                                </tr>
                                <tr>
                                    <td>/emojis/{id}</td>
                                    <td>GET</td>
                                    <td>Gets a single emoji</td>
                                </tr>
                                <tr>
                                    <td>/emojis</td>
                                    <td>POST</td>
                                    <td>Create a new emoji</td>
                                </tr>
                                <tr>
                                    <td>/emojis</td>
                                    <td>PUT</td>
                                    <td>Updates an emoji</td>
                                </tr>
                                <tr>
                                    <td>/emojis/{id}</td>
                                    <td>DELETE</td>
                                    <td>Deletes a single emoji</td>
                                </tr>
                                <tr>
                                    <td><code>/emojis/:field/:search</code></td>
                                    <td>GET</td>
                                    <td>lists all :search emojis under :field e.g.
                                            /emojis/category/whatsapp
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
